html, body {
    min-height: 100vh;
    background: linear-gradient(90deg, #5f2c82 10%, #49a09d 90%);
  }

.search-box {
    text-align: center;
    margin-bottom: 50px;
}

.info-list {
    text-align: center;
}

#user-search {
    width: 450px;
    border: solid 5px;
    border-color: #4971a0;
}

.object-row {
    margin-top: 15px;
    word-wrap: break-word;
    height: 100px;
}

.iTunes-search {
    margin-top: 100px;
}

.iTunes-image {
    margin-top: 100px;
    text-align: center;
}

#music-note {
    width: 100px;
  }
  